.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height */
    width: 100vw;
    background-image: url("src/components/images/Wheelchair_work_0.2.gif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }