/* Wrapper for the VerbsCloud component */
.verbs-cloud-wrapper {
    width: 100%;
    height: 100vh; /* Full viewport height */
    position: relative;
    background-color: #202025; /* Match the fog color in the 3D scene */
    overflow: hidden; /* Prevent scrolling */
}

/* Styling for the canvas */
canvas {
    display: block; /* Remove extra space below the canvas */
    width: 100%;
    height: 100%;
}