/* CustomTableStyles.css */

.ant-table-thead > tr > th {
  background-color: #f5f5f5;
  text-align: center;
  font-weight: bold;
}

.ant-table-cell {
  height: 100%;
  text-align: center;
  padding: 0; /* Removes extra padding */
}

.ant-table-tbody > tr > td {
  height: 100%;
}

.custom-cell {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.ant-table-body {
  scrollbar-width: thin;
  scrollbar-color: #aaa transparent;
}

.ant-table-body::-webkit-scrollbar {
  width: 8px;
}

.ant-table-body::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}
